@import "reset";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";
@import "./theme/orange";

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: var(--font-m);
}

.appRedesigned {
  min-height: 100vh;
  background: var(--bg-redesigned);
  color: var(--text-redesigned);
  font: var(--font-m-redesigned);
}

.contentPage {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  border: 1px solid var(--inverted-color);  /* padding вокруг плашки */
  border-radius: 20px;       /* закругления плашки */
  background-color: var(--primary-color);    /* цвет плашки */
}
