.articleDetails {
  min-height: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar {
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.articleInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}
