.addCommentForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--primary-color);
  gap: 20px;
}

.input {
  flex-grow: 1;

  & > span {
    flex-shrink: 0;
  }
}
