.title {
  color: var(--primary-color);
  font: var(--font-l);
}

.text {
  color: var(--secondary-color);
  font: var(--font-m);
}

.error {
  .title {
    color: var(--error-light-color);
  }

  .text {
    color: var(--error-dark-color);
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.sizeM {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.sizeL {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
