%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%icon {
  min-width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

%views {
  margin-left: auto;
}

.list {
  .views {
    @extend %views;
  }

  .icon {
    @extend %icon;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .date {
    width: 100%;

    p {
      margin-left: auto;
    }
  }

  .title {
    margin-top: 10px;
  }

  .img {
    width: 100%;
    height: 220px;
    margin: 8px 0 16px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 200px;
    margin-bottom: 24px;
    overflow-y: hidden;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .dateSkeleton {
    margin-left: auto;
  }
}

.place {
  width: 230px;
  cursor: pointer;
  transition: 0.2s;

  .imageWrapper {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .date {
    position: absolute;
    top: 0;
    right: 5px;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.01);

    .date {
      opacity: 1;
    }
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 5px;
  }

  .types p {
    max-width: 125px;

    @extend %ellipsis;
  }

  .views {
    @extend %views;
  }

  .icon {
    @extend %icon;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;

    @extend %ellipsis;
  }
}
