@import "reset";
@import "variables/global";
@import "./theme/dark";
@import "./theme/light";

.app {
  min-height: 100vh;
  font-size: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
}