.inputWrapper {
  display: flex;
  align-items: end;
}

.label {
  min-width: max-content;
  color: var(--primary-color);
}

.input {
  width: 100%;
  padding: 0 2px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  outline: none;

  &:read-only {
    opacity: 0.6;
  }

  /* Обход слета стилей при автозаполнении */
  &:-webkit-autofill {
    border-radius: 8px;
    box-shadow: inset 0 0 0 50px var(--bg-color);
    -webkit-text-fill-color: var(--primary-color);
  }
}

.outlined {
  border: none;
}
