.navBar {
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--inverted-bg-color);
}

.navBarRedesigned {
  padding: 16px;
}

.title {
  h1 {
    color: var(--inverted-color);
  }
}

.avatar {
  width: 35px;
  height: 35px;
}
