.selectWrapper {
  display: flex;
  align-items: end;
  gap: 10px;
}

.select {
  padding: 1px 10px 1px 1px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  outline: none;

  &:disabled {
    opacity: 0.6;
  }
}

.option {
  background-color: var(--inverted-bg-color);
  color: var(--inverted-color);
}
