.articleViewSwitcher {
  .icon {
    width: 24px;
    height: 24px;
    fill: var(--secondary-color);
  }

  .selected {
    .icon {
      fill: var(--primary-color);
    }
  }
}

.articleViewSwitcherRedesigned {
  .notSelected {
    color: var(--light-bg-redesigned);
  }
}
